// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$primary: #223a47;
$secondary: #F27257;

body{
    //font-family: 'Fredericka the Great', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.25;
}

#wrapper-navbar{
    .top-header-holder{
        height: 260px;
        background: #f1f1f1;
        padding-top: 50px;
        padding-bottom: 50px;
        .container{
            .logo-holder{
                .logo{
                    width: 275px;
                }
            }
        }
    }
    margin-bottom: -360px;

        #main-nav {
            border-top: 1px solid rgba($color: #5dA0AA, $alpha: 0.5);
            border-bottom: 1px solid rgba($color: #5dA0AA, $alpha: 0.5);
            padding: 0px;
            ul{
                flex: 1;
                justify-content: space-between;
                li{
                    a{
                        font-weight: 600;
                        font-size: 22px;
                        text-transform: uppercase;
                        padding: 1.5em 0.5em ;
                    }
                &.current-menu-item{
                    a{
                            color: $secondary;
                    }
                }
                }
                
            }
        }

}


.home-banner{
    height: 1080px;
    background: #ccc;
    background-image: url(../img/home-banner.jpg);
    background-size: cover;
}